{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "../tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/indent": ["error", 4, { "SwitchCase":  1 }],
    "camelcase": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "indent": ["error", 4, { "SwitchCase":  1 }],
    "import/extensions": "off",
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "no-multiple-empty-lines": ["off"],
    "no-plusplus": ["off"],
    "no-restricted-syntax": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["off"],
    "react/jsx-props-no-multi-spaces": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/jsx-uses-react": "off",
    "react/prop-types": ["error", { "ignore": ["children"] }],
    "react/react-in-jsx-scope": "off",
    "semi": ["error", "never"]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "17.0.1"
    },
    "import/resolver": "webpack"
  }
}
