@css {
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
}

@import './reset'

*
	box-sizing border-box
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

html, body
	height 100%

body
	font-family 'Noto Sans', sans-serif
	font-size 14px
	font-weight 400
	line-height 24px
	color rgb(34, 34, 34)
	background-color hsl(360, 100, 100)
